body{
    background-color: aliceblue;
}

.paginas{
    width: 100%;
    text-align: center; 
}

.div_pai{
    margin-left: 16%;
    margin-bottom: 100px;
    background-color: whitesmoke;
    width: 350px;
    height: 430px;
    border-radius: 10px;
    display: inline-block;
    position: relative;    
}   

.div_pai label{
    display: flex;
    justify-content: center;
}

#locacao_div span,#locacao_div a{
    display: flex;
    justify-content: center;
}

#locacao_div a{
    position: absolute;
    bottom: 5%;
    width: 100%;
}

#locacao_div button{
    width: 50%;
}

#locacao_div img{
    border-radius: 10px 10px 0px 0px;
    width: 350px;
    height: 200px;
}

#locacao_info{
    margin-left: 22%;
    margin-top: 30px;
    height: 950px;
    width: 55%;
    background-color: whitesmoke;
    border-radius: 10px;
    position: relative; 
     text-align: center;
}

#locacao_img{
    width: 600px;
    height: 450px;
    padding-top: 5px;
}

.label_separator{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: left;
}

#locacao_content input{
    width: 80%;
}

#locacao_content input, #locacao_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttons{
    width: 100%;
    height: 20px;
    text-align: center; 
    position: absolute;
    bottom: -8%; 
}

.buttons button{
    width: 20%;
    margin-left: 10px;
    display: inline-block;
}

.checkbox_div {
    text-align: left !important;
    justify-content: center;
    margin-left: 35%;
}
